.Item {
  background-color: #efb08c;
  width: 50%;
  border: 1px solid gray;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 10px;
}